@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1640' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1049%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(21%2c 67%2c 96%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c462.283C87.598%2c443.792%2c170.288%2c426.057%2c254.774%2c396.436C365.641%2c357.566%2c514.845%2c363.801%2c572.638%2c261.515C629.602%2c160.695%2c541.986%2c38.978%2c521.096%2c-74.922C501.171%2c-183.563%2c533.48%2c-316.932%2c452.727%2c-392.29C371.399%2c-468.184%2c238.178%2c-417.502%2c129.343%2c-440.502C31.759%2c-461.124%2c-53.93%2c-533.697%2c-152.758%2c-520.246C-257.39%2c-506.005%2c-345.521%2c-438.514%2c-421.798%2c-365.49C-503.753%2c-287.03%2c-573.175%2c-195.847%2c-605.276%2c-87.026C-640.566%2c32.607%2c-662.781%2c165.567%2c-612.068%2c279.522C-561.213%2c393.797%2c-454.597%2c485.088%2c-334.746%2c520.875C-223.959%2c553.955%2c-113.127%2c486.163%2c0%2c462.283' fill='%230f2e42'%3e%3c/path%3e%3cpath d='M1440 1062.98C1539.238 1080.3319999999999 1643.853 1063.109 1732.125 1014.5550000000001 1823.6689999999999 964.201 1898.658 884.2819999999999 1939.615 788.1659999999999 1980.0410000000002 693.296 1969.278 588.044 1957.529 485.591 1945.469 380.426 1940.538 266.342 1870.654 186.836 1800.911 107.48899999999998 1691.1390000000001 72.84199999999998 1585.97 62.872000000000014 1491.056 53.874000000000024 1408.846 117.56200000000001 1314.961 134.156 1204.886 153.611 1059.194 82.17099999999999 988.212 168.52300000000002 916.597 255.64499999999998 1018.977 386.2 1015.1279999999999 498.913 1011.866 594.444 928.0699999999999 688.708 967.475 775.795 1006.874 862.867 1125.224 873.0840000000001 1206.894 922.72 1285.99 970.7919999999999 1348.825 1047.038 1440 1062.98' fill='%231c587e'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1049'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  font-family: "Neucha", cursive;
}

.heading {
  text-transform: uppercase;
  font-size: 4rem;
  margin: 30px 0;
  color: white;
  z-index: 1;
  text-align: center;
  letter-spacing: 14px;
}

@media (max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 2.5rem;
  }
}
